.vanilla-slider {
    position: relative;
    overflow: hidden;
    margin: 0 auto;
}

.vanilla-slider > ul {
    position: relative;
    -webkit-transition: 0.5s left;
    -moz-transition: 0.5s left;
    -ms-transition: 0.5s left;
    -o-transition: 0.5s left;
    list-style: none;
    left: 0;
    padding: 0;
}

.vanilla-slider > ul > li {
    float: left;
}

.vanilla-slider-nav {
    height: 64px;
    width: 100%;
    position: absolute;
    top: 50%;
    left: 0;
    margin-top: -16px;
    z-index: 1000;
}

.vanilla-slider-nav button {
    font-family: "Helvetica", sans-serif;
    border: none;
    display: inline-block;
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size:24px;
    cursor: pointer;
    background: #8e9196;
    border-radius: 32px;
    color: #fff;
    outline-style: none;
    opacity: 0.3;
    transition: opacity 0.3s linear;
}

.vanilla-slider:hover > .vanilla-slider-nav button{
    opacity: 1;
    transition: opacity 0.3s linear;
}

.vanilla-slider-nav button.vanilla-slider-prev {
    float: left;
    margin-left: 10px;
}

.vanilla-slider-nav button.vanilla-slider-next {
    float: right;
    margin-right: 10px;
}

.vanilla-slider-nav button.vanilla-slider-next:after {
    content: '>';
}

.vanilla-slider-nav button.vanilla-slider-prev:after {
    content: '<';
}